<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="UserDTO" type="persistence.dto.UserDTO"/>
        <typeAlias alias="ColorDTO" type="persistence.dto.ColorDTO"/>
        <typeAlias alias="CosmeticDTO" type="persistence.dto.CosmeticDTO"/>
        <typeAlias alias="TipDTO" type="persistence.dto.TipDTO"/>
        <typeAlias alias="AccessoryDTO" type="persistence.dto.AccessoryDTO"/>
        <typeAlias alias="LookBookDTO" type="persistence.dto.LookBookDTO"/>


    </typeAliases>
z
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--  connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost/mydb?characterEncoding=utf8&amp;serverTimezone=UTC&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="chohuison5272"/>
            </dataSource>

        </environment>
    </environments>
    <mappers>
        <mapper resource="sqlmapper/user.xml"/>
        <mapper resource="sqlmapper/color.xml"/>
        <mapper resource="sqlmapper/cosmetic.xml"/>
        <mapper resource="sqlmapper/tip.xml"/>
        <mapper resource="sqlmapper/accessory.xml"/>
        <mapper resource="sqlmapper/lookbook.xml"/>
    </mappers>

</configuration>
